<%- layout('layout') -%>
<div class="search-container">
  <form id="searchForm" method="post" action="/search">
  <input type="text" name="query" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type your Query">
  </form>
  </div>
